---
import './Footer.css';
---

<footer>
    <p>KittenZip, with ❤️ by <a href="https://m2team.org">M2-Team</a> and contributors.</p>
    <p>
        Note: KittenZip.org is the only official website for KittenZip.
        Any other websites claiming to be KittenZip are fake.
        We are not responsible for content on those websites.
    </p>
</footer>